<div id="<%= dom_id mission %>">
  <p>
    <strong>Ref mission:</strong>
    <%= mission.ref_mission %>
  </p>

  <p>
    <strong>Ref consultant:</strong>
    <%= mission.ref_consultant %>
  </p>

  <p>
    <strong>Mois 1 descr:</strong>
    <%= mission.mois_1_descr %>
  </p>

  <p>
    <strong>Mois 2 descr:</strong>
    <%= mission.mois_2_descr %>
  </p>

  <p>
    <strong>Mois 3 descr:</strong>
    <%= mission.mois_3_descr %>
  </p>

  <p>
    <strong>Mois 4 descr:</strong>
    <%= mission.mois_4_descr %>
  </p>

</div>
